
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.navbar-container{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #86989B;
}

.navbar{
    width: 100%;
}

.navbar-right > li{
    display: inline;
    margin-right: 20px;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px 10px 0;
    background-color: lightslategray;
}

.navbar-right > li:last-of-type{
    margin-right: 0;
}

.logo{
  padding-left: 40px;
}

.content{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.content-item{
  flex: 1;
}

.content-one{
  flex: initial;
  margin-right: 10px;
}

.content-two{
  margin-left: 10px;
}



#answers {
  border-bottom: solid black 1pt;
  padding-bottom: 10px;
  font-size: large;
}


.listquestion{
  border-top: solid black 1pt;
  padding-top: 8px;
  padding-left: 230px;
}

.orderby{
  padding-bottom: 20px;
}

.ask_question{
  padding-top: 20px;
}

.questions{
  padding-top: 8px;
  padding-left: 20px;
}
table {
  border-collapse: collapse;
  background-color: powderblue;
  border-color: dimgrey;
  font-family: sans-serif;

}

table, th, td {
  border: 2px solid black;
}

li{
  display: block;
  padding-bottom: 5px;
}

.list{
  padding-left: 10px;

}


p.answers{
  padding-top: 8px;
  padding-left: 20px;
}

.textarea{
    padding-left: 20px;
}

summary{
    padding-bottom: 10px;
    padding-top: 10px;
}

