
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.navbar-container{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #86989B;
}

.navbar{
    width: 100%;
}

.navbar-right > li{
    display: inline;
    margin-right: 20px;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px 10px 0;
    background-color: lightslategray;
}

.navbar-right > li:last-of-type{
    margin-right: 0;
}

.logo{
  padding-left: 40px;
}

.content{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.content-item{
  flex: 1;
}

.content-one{
  flex: initial;
  margin-right: 10px;
}

.content-two{
  margin-left: 10px;
}

.title {
  border-bottom: solid black 1pt;
  padding-bottom: 10px;
  font-size: large;
}

.list-details{
  border-top: solid black 1pt;
  padding: 8px 0 20px 230px;
}

.spacing{
    padding-top: 10px;
    padding-bottom: 10px;
}

.questions{
  padding: 0 0 20px 20px;
}

li{
  display: block;
  padding-bottom: 5px;
}

.sidebar{
  padding-left: 10px;
}

.side-details{
  padding: 8px 0 20px 20px;

}

.textarea{
    padding-left: 20px;
}



