<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask new question</title>
</head>
<body>
    <h1>Ask new question</h1>
    <form action="/add-question" method="POST" id="add-question">
        <pr>
            <label for="question_title">Title of question:</label><br>
            <input type="text" id="question_title", name="question_title" required><br>
        </pr>
        <pr>
            <label for="question">Question:</label><br>
            <textarea id="question" name="question", rows="10", cols="80" required></textarea><br>
        </pr>
        <pr>
            <button type="submit">Ask new question</button>
        </pr>
    </form>
</body>
</html>