{% extends "layout.html" %}

{% block title %}
    Ask a Question
{% endblock %}

{% block content %}

<div class="content-item content-two">
    <h1 class="spacing">Ask new question</h1>
    <form action="/add-question" method="POST" id="add-question">
        <div>
            <label for="question_title">Title of question:</label>
            <br>
            <input type="text" id="question_title" name="question_title" required placeholder="Title"><br>
        </div>
        <div>
            <label for="question">Question:</label>
            <br>
            <textarea id="question" name="question" rows="10" cols="80" required placeholder="Your question"></textarea><br>
        </div>
        <div>
            <button class="ask-btn" type="submit">Ask new question</button>
        </div>
    </form>
</div>
{% endblock %}