{% extends "layout.html" %}

{% block title %}
    Edit Answer
{% endblock %}

{% block content %}

    <div class="content-item content-two">
        {% for row in rows %}
        <form action="/answer/{{ answer_id }}/edit" method="post">
              <p class="spacing"><i>Id: {{ row.id }} | Vote Number: {{ row.vote_number }}</i></p>

              <div class="spacing">
                <input id="id" name="id" value="{{ row.id }}" type="hidden">
              </div>

              <div class="spacing">
                <input id="vote_number" name="vote_number" value="{{ row.vote_number }}" type="hidden">
              </div>

              <div class="spacing">
                <label for="message">Message</label>
                <br>
                  <textarea id="message" name="message" minlength="10" cols="80" rows="10" required>{{ row.message }}</textarea>
              </div>

              <div class="spacing">
                  <label for="image">Image Url</label>
                  <input id="image" name="image" type="url">
              </div>

              <div class="spacing">
                  <input class="submit-btn" type="submit" value="Submit Edited Answer">
              </div>
        </form>
        {% endfor %}
    </div>
{% endblock %}