<html>
<head>
    <title>Question Edit</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="header">
        <img src="/static/team_logo.png">
    {% for row in rows %}
    <form action="/answer/{{ answer_id }}/edit" method="post">
      <p>
        <label for="id">Id</label>
        <br>
        <input id="id" name="id" value="{{ row.id }}" readonly="readonly">
      </p>
      <p>
         <label for="vote_number">Vote Number</label>
        <br>
        <input id="vote_number" name="vote_number" value="{{ row.vote_number }}" readonly="readonly">
      </p>

      <p>
        <label for="message">Message</label>
        <br>
          <textarea id="message" name="message" minlength="10" cols="80" rows="10" required>{{ row.message }}</textarea>
      </p>
      <p>
          <label for="image">Image Url</label>
          <input id="image" name="image" type="url">
      </p>
      <p>
          <input type="submit" value="Submit Edited Answer">
      </p>
    </form>
    {% endfor %}
    </div>
</body>
</html>