<!DOCTYPE html>
<html>


<head>
    <title>Display Question</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <h3>Menu</h3>
        <ul>
            <li><form action="/list" method="GET">
                    <button type="submit">Home</button></form>
            </li>
            <li><form action="/question/{{ question_id }}/add-new-answer" method="GET">
                <button type="submit">Add an answer</button></form>
            </li>
            <li><form action="/question/{{ question_id }}/edit" method="get">
                    <button type="submit">Edit question</button></form>
            </li>
            <li><form action="/question/{{ question_id }}/delete" method="POST">
                <button type="submit">Delete question</button>
            </form></li>
        </ul>
    </div>
    <div class="content">
        <p><strong>Question Details:</strong></p>
    <div>
    <table>
         <thead>
            <tr>
                <th>Id</th>
                <th>Submission Time</th>
                <th>View Number</th>
                <th>Vote Number</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            </thead>
        <tbody>
            {% for question_row in question %}
            <tr>
                <td>{{question_row.id}}</td>
                <td>{{question_row.submission_time}}</td>
                <td>{{question_row.view_number}}</td>
                <td>{{question_row.vote_number}}</td>
                <td>{{question_row.title}}</td>
                <td>{{question_row.message}}</td>
                <td>{{question_row.image}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
        <br>
    <div>
        <p><strong>Answers:</strong></p>
    </div>
    <div>
        <table>
            {% if answers %}
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Submission Time</th>
                    <th>Vote Number</th>
                    <th>Question Id</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>

                {% for answer_row in answers %}
                <tr>
                    <td>{{answer_row.id}}</td>
                    <td>{{answer_row.submission_time}}</td>
                    <td>{{answer_row.vote_number}}</td>
                    <td>{{answer_row.question_id}}</td>
                    <td>{{answer_row.message}}</td>
                    <td>{{answer_row.image}}</td>
                </tr>
                {% endfor %}
              {% else %}
                <strong>There is no answer to this question yet.</strong>
              {% endif %}
            </tbody>
        </table>
    </div>
    </div>
</div>

</body>
</html>
