{% extends "layout.html" %}

{% block title %}
    Display Question and it's answers
{% endblock %}

{% block content %}

    <div class="content-item content-one">

        <ul class="sidebar">
            <li><form action="/list" method="GET">
                    <button class="side-btn" type="submit">Home</button></form>
            </li>
            {% if 'user_id' in session  %}
            <li><form action="/list-users" method="get"><button class="side-btn">List all users</button></form>
            </li>
            {% endif %}
            <li><form action="/question/{{ question_id }}/add-new-answer" method="GET">
                <button class="side-btn" type="submit">Add an answer</button></form>
            </li>
            <li><form action="/question/{{ question_id }}/edit" method="get">
                    <button class="side-btn" type="submit">Edit question</button></form>
            </li>
            {% if verified %}
            <li><form action="/question/{{ question_id }}/delete" method="POST">
                <button class="side-btn" type="submit">Delete question</button></form>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="content-item content-two">
        <p class="title"><strong>Question Details:</strong></p>
    <div>
        {% for question_row in question %}
            <p class="side-details"><i>Id: {{ question_row.id }} | Submission time: {{ question_row.submission_time }}| View number: {{ question_row.view_number }} | Vote number: {{ question_row.vote_number }}</i>
                 <form action="/question/{{ question_id }}/vote" method="post">
                <button class="vote-btn" name="vote" type="submit" value="up">Vote up</button>
                 <button class="vote-btn" name="vote" type="submit" value="down">Vote down</button>
                </form>
            </p>
            <p class="spacing"><strong>{{ question_row.title }}</strong></p>
            <p class="spacing">{{question_row.message}}</p>

            <details>
            <summary class="spacing">Comments</summary>
                {% for comment in question_comments %}
                    {% if comment.question_id == question_row.id %}
                <p>{{ comment.message }}  <a href="/comments/{{ comment.id }}/delete"><img src="{{ url_for('static', filename='icons/bin.png') }}" width="25" height="25"></a></p>
                    {% endif %}
                {% endfor %}
                <form action="/question/{{ question_row.id }}/new-comment" method="POST">
                    <textarea name="new_comment" cols="120" rows="5">Your comment</textarea>
                    <p class="comment-btn"><button type="submit">Submit</button></p>
            </form>
           </details>
        {% endfor %}
    </div>
        <br>
    <div>
        <p class="title"><strong>Answers:</strong></p>
    </div>
    <div>
        {% if answers %}
        {% for answer_row in answers %}
            <p class="side-details"><i>Id: {{ answer_row.id }} | Submission time: {{ answer_row.submission_time }} | Vote number: {{ answer_row.vote_number }}</i><a href="/answer/{{ answer_row.id }}/edit"> <img src="{{ url_for('static', filename='icons/edit_button.png') }}" width="25" height="25"></a> </p>
            <p class="spacing">{{answer_row.message}}</p>

             <details>
            <summary class="spacing">Comments</summary>
                {% for comment in comments %}
                    {% if comment.answer_id == answer_row.id %}
                <p class="spacing">{{ comment.message }}  <a href="/comments/{{ comment.id }}/delete"><img src="{{ url_for('static', filename='icons/bin.png') }}" width="25" height="25"></a></p>
                    {% endif %}
                {% endfor %}
                <form action="/answer/{{ answer_row.id }}/new-comment" method="POST">
                    <textarea name="new_comment" cols="120" rows="5">Your comment</textarea>
                    <p class="comment-btn"><button type="submit">Submit</button></p>
                </form>
            </details>
        {% endfor %}
        {% else %}
        <p>There are no answers to this question</p>
        {% endif %}
    </div>
    </div>


{% endblock %}