<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}H'ATML{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="navbar-container">
            <div class="navbar">
                <div class="logo"><img src="/static/icons/team_logo.png" alt="Blue logo of H'ATML"></div>
                <ul class="navbar-right">
                    {% if 'user_id' in session %}
                        <li>You are logged in as: {{ session['user_name'] }}</li>
                        <li><form action="/logout" method="get"><button  class="login-btns" type="submit">Logout</button></form></li>
                    {% else %}
                         <li><form action="/login" method="get"><button class="login-btns" type="submit">Login</button></form></li>
                        <li><form action="/sign_up" method="get"><button  class="login-btns" type="submit">Sign Up</button></form></li>

                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>

