<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<table>
        <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number </th>
        <th>Title </th>
        <th>Message</th>
        <th>Image</th>
        </tr>
        {% for question in questions %}
            <a>
                <td>{{ question['id']}}</td>
                <td>{{ question['submission_time']}}</td>
                <td>{{ question['view_number']}}</td>
                <td>{{ question['vote_number']}}</td>
                <td><a href="/question/{{question['id']}}">{{ question['title']}}</td></a>
                <td>{{ question['message']}}</td>
                <td>{{ question['image']}}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <form method="get" action="/list">
            <button type="submit">All questions</button>
        </form>
    </p>
</body>
</html>