{% extends "layout.html" %}

{% block title %}
    Latest Questions
{% endblock %}

{% block content %}


    <div class="content-item content-two">


        <div class="spacing">
            <strong>Latest questions:</strong>
        </div>

        <div>
            {% for question_row in questions %}
                <p class="list-details"><i>Id: {{ question_row.id }} | Submission time: {{ question_row.submission_time }}| View number: {{ question_row.view_number }} | Vote number: {{ question_row.vote_number }} </i></p>
                <p class="questions"><a href="/question/{{ question_row.id }} ">{{ question_row.title }}</a></p>
                <p class="questions">{{question_row.message}}</p>
            {% endfor %}
        </div>

        <div class="spacing">
            <form method="get">
                <button class="submit-btn" type="button" onclick="window.location.href='/list'">All questions</button>
            </form>
        </div>

    </div>

{% endblock %}