{% extends "layout.html" %}

{% block title %}
    Latest Questions
{% endblock %}

{% block content %}


    <div class="content-item content-two">
    <div>
        <p class="orderby"><strong>Latest questions:</strong></p>
    <div>
    <p>

            {% for question_row in questions %}
                <p class="listquestion"><i>Id: {{ question_row.id }} | Submission time: {{ question_row.submission_time }}| View number: {{ question_row.view_number }} | Vote number: {{ question_row.vote_number }} </i></p>
                <p class="questions"><a href="/question/{{ question_row.id }} ">{{ question_row.title }}</a></p>
                <p class="questions">{{question_row.message}}</p>
            {% endfor %}

    </div>

    <p class="ask_question">
        <form method="get">
            <button type="button" onclick="window.location.href='/list'">All questions</button>
        </form>
    </p>
    </div>
    </div>

{% endblock %}