<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<table>
    <form method="GET" action="/list">
    <tr>
        <th><label for="order_by">Order by:</label><br></th>
        <th><label for="order_direction">Order direction:</label><br></th>
    </tr>


            <td>
            <select name="order_by" id="order_by">
                {% for header in question_header %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>
            </td>


            <td>
            <select name="order_direction" id="order_direction">
                {% for direction in order_directions %}
                    <option value="{{ direction }}">{{ direction }}</option>
                {% endfor %}
            </select>
            </td>
            <td>
            <button type="submit">Ok</button>
            </td>
    </form>
</table>
<table>
        <tr>
        <th>Id</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number </th>
        <th>Title </th>
        <th>Message</th>
        <th>Image</th>
        </tr>
        {% for question in questions %}
            <a>
                <td>{{ question['id']}}</td>
                <td>{{ question['submission_time']}}</td>
                <td>{{ question['view_number']}}</td>
                <td>{{ question['vote_number']}}</td>
                <td><a href="/question/{{question['id']}}">{{ question['title']}}</td></a>
                <td>{{ question['message']}}</td>
                <td>{{ question['image']}}</td>
            </tr>
        {% endfor %}
    </table>
<form method="get" action="/add-question">
    <button type="submit">Ask a question</button>
    </form>
</body>
</html>