{% extends "layout.html" %}

{% block title %}
    Edit Question
{% endblock %}

{% block content %}

    <div class="content-item content-two">
        {% for row in rows %}
        <form action="/question/{{ question_id }}/edit" method="post">
          <div class="spacing">
              <p><i>Id: {{ row.id }} | View Number: {{ row.view_number }} | Vote Number: {{ row.vote_number }}</i></p>
            <input id="id" name="id" value="{{ row.id }}" type="hidden">
          </div>

          <div class="spacing">
            <input id="view_number" name="view_number" type="hidden" value="{{ row.view_number }}">
          </div>

          <div class="spacing">
            <input id="vote_number" name="vote_number" value="{{ row.vote_number }}" type="hidden">
          </div>

          <div class="spacing">
            <label for="title">Title</label>
            <br>
            <input id="title" name="title" type="text" value="{{ row.title }}" required>
          </div>

          <div class="spacing">
            <label for="message">Message</label>
            <br>
              <textarea id="message" name="message" minlength="10" cols="80" rows="10" required>{{ row.message }}</textarea>
          </div>

          <div class="spacing">
              <label for="image">Image Url</label>
              <input id="image" name="image" type="url">
          </div>

          <div class="spacing">
              <input type="submit" value="Submit Edited Question">
          </div>
        </form>
        {% endfor %}
    </div>

{% endblock %}